# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Check JAR licenses
      run: |
        JARS=$(find ./ -name '*.jar' -type f | grep yoko | grep libs)
        SHIPPED_JARS=("osgi" "util" "spec-corba" "rmi-spec" "rmi-impl" "core" "jdk-supplement" "testify")
        for shippedJar in ${SHIPPED_JARS[@]}; do
            for jar in $JARS; do
                if [[ $(basename $jar) == *"$shippedJar"* ]]; then
                    echo "Checking $(basename $jar)"
                    if $(unzip -p $jar META-INF/MANIFEST.MF | grep -q "Bundle-License: https://www.apache.org/licenses/LICENSE-2.0.txt"); then
                        echo "License found"
                    else
                        echo "License not found"
                        exit 1
                    fi
                else
                    continue
                fi
            done
        done
    - name: Check copyright Tag in Testify source files
      run: |
        SRC=$(find yoko-testify/ -name '*.java')
        year=$(date +%Y)
        for i in $SRC; do
            if ! grep -q "Copyright (c) $year IBM Corporation and others." $i; then
                echo "Copyright not found $i"
                (echo "/*******************************************************************************
        * Copyright (c) 2022 IBM Corporation and others.
        * All rights reserved. This program and the accompanying materials
        * are made available under the terms of the Eclipse Public License v1.0
        * which accompanies this distribution, and is available at
        * http://www.eclipse.org/legal/epl-v10.html
        *
        * Contributors:
        *     IBM Corporation - Initial implementation
        *******************************************************************************/\n" && cat $i) > $i.new && mv $i.new $i
            else
                echo "Copyright tag found in $i"
            fi
        done
