# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Check JAR licenses
      run: |
        JARS=$(find ./ -name '*.jar' -type f | grep yoko | grep libs)
        SHIPPED_JARS=("osgi" "util" "spec-corba" "rmi-spec" "rmi-impl" "core" "jdk-supplement" "testify")
        for shippedJar in ${SHIPPED_JARS[@]}; do
            for jar in $JARS; do
                if [[ $(basename $jar) == *"$shippedJar"* ]]; then
                    echo "Checking $(basename $jar)"
                    if $(unzip -p $jar META-INF/MANIFEST.MF | grep -q "Bundle-License: https://www.apache.org/licenses/LICENSE-2.0.txt"); then
                        echo "License found"
                    else
                        echo "License not found"
                        exit 1
                    fi
                else
                    continue
                fi
            done
        done